# List
------------
- Python List [a, b, c]
- List is flexible, which can be written as a list of comma-separated values (items) between square [] brackets.
- Lists might contain items of different data types, but usually the items all have the same type.

# 1. Define a list with same datatypes []

In [130]:
sal = [1000.50,2000.20, 3000.30,4]

In [131]:
sal

[1000.5, 2000.2, 3000.3, 4]

In [132]:
type(sal)

list

> Define using another syntax: Using **list** function

In [4]:
sal2 = list([100.20,200.30,300.50])

In [5]:
type(sal2)

list

> create empty list aka with no items

In [6]:
sal1 = list() # empty list # no items # []

In [133]:
a_empty_list = [] # another way to create empty list.

In [134]:
a_empty_list

[]

In [9]:
type(sal1)

list

In [10]:
sal1

[]

# 2. Define list with different datatypes

In [135]:
misc = [10,10.33, 1+2j, (40,50,60), 'python', True,[10,20,30]]

In [136]:
misc

[10, 10.33, (1+2j), (40, 50, 60), 'python', True, [10, 20, 30]]

In [59]:
misc[3][1]

50

In [54]:
a = (40,50,60) ## tupple

In [55]:
a[0]

10

In [137]:
misc[4][3]

'h'

In [56]:
type(a)

tuple

In [30]:
type(misc)

list

# 3. Nested List

In [21]:
a_nested_list = [["ram",1000.50,10],["renny",1100.23,20],["reddy",1500.56,'NAN']]

In [44]:
a_nested_list.append(5000)

In [45]:
a_nested_list

[['ram', 1000.5, 10], ['renny', 1100.23, 20], ['reddy', 1500.56, 'NAN'], 5000]

In [46]:
a_nested_list[3]

5000

In [31]:
a_nested_list[2][1]

1500.56

In [20]:
a_nested_list[2][2]

''

In [32]:
type(a_nested_list)

list

In [33]:
a_nested_list[1][1]

1100.23

In [34]:
a_nested_list[2][0]

'reddy'

In [35]:
a_nested_list[1][2]

20

# 4. Manipulating the list

## 4.1. Add items to the list

In [2]:
sal = [1000.5, 2000.2, 3000.3, 4, 4000.4]

In [138]:
sal.append?

### 4.1.2 Practice with Append

In [3]:
sal.append(5000.40) # here append is a method of list object # add at last position

In [4]:
sal

[1000.5, 2000.2, 3000.3, 4, 4000.4, 5000.4]

### 4.1.3 Practice with clear

In [65]:
sal.clear() # remove all items from List.# same like truncate in SQL.

In [66]:
sal

[]

### 4.1.4 Practice with copy

In [68]:
sal2 = sal.copy() # a shallow copy of List

In [75]:
sal.copy?

In [77]:
import copy

In [79]:
sal3 = sal.deepcopy()

AttributeError: 'list' object has no attribute 'deepcopy'

In [69]:
sal2

[1000.5, 2000.2, 3000.3, 4, 4000.4]

In [70]:
sal2[0] = 1100

In [71]:
sal2

[1100, 2000.2, 3000.3, 4, 4000.4]

In [73]:
sal[1] = 1200

In [5]:
sal

[1000.5, 2000.2, 3000.3, 4, 4000.4, 5000.4]

In [82]:
sal = [1000.5,4,4, 2000.2, 3000.3, 4, 4000.4]

### 4.1.5 Practice with count

In [85]:
sal.count(1000.5) # return number of occurrences of value

1

### 4.1.6 Practice with extend

In [54]:
sal.extend ?# extend list by appending elements from the iterable

TypeError: 'list' object is not an iterator

In [139]:
sal.extend('Bilal')

In [140]:
sal

[1000.5, 2000.2, 3000.3, 4, 'B', 'i', 'l', 'a', 'l']

In [10]:
sal.append(['Shanti','Rizwan','Ben'])

In [11]:
sal

[1000.5,
 2000.2,
 3000.3,
 4,
 4000.4,
 5000.4,
 ['Shanti', 'Rizwan', 'Ben'],
 ['Shanti', 'Rizwan', 'Ben']]

In [9]:
print(sal)

[1000.5, 2000.2, 3000.3, 4, 4000.4, 5000.4, ['Shanti', 'Rizwan', 'Ben']]

### 4.1.7 Practice with index

In [143]:
sal.index('i')

5

In [142]:
sal.index(4,4)

ValueError: 4 is not in list

In [13]:
sal.index(4,1,6) # L.index(value, [start, [stop]]) -> integer -- return first index of value.
              # Raises ValueError if the value is not present. 
      # here total elements are 5.

3

In [144]:
sal.insert(2,4)

In [145]:
print(sal)

[1000.5, 2000.2, 4, 3000.3, 4, 'B', 'i', 'l', 'a', 'l']

In [146]:
sal.index(4)

2

In [147]:
sal.index(4,1)

2

### 4.1.8 Practice with insert

In [33]:
sal.insert?  # L.insert(index, object) -- insert object before index

In [63]:
sal.insert(1,2500.15) # here insert is a method of list object # to add at particular index position

In [133]:
print(sal)

[10, 1000.5, 4, 4, 2000.2, 3000.3, 4, 10, 10, 10, 4, 4000.4, 'B', 'i', 'l', 'a', 'l', 'Shanti', 'Rizwan', 'Ben']

### 4.1.9 Practice with pop

In [148]:
sal.pop()  # L.pop([index]) -> item -- remove and return item at index (default last).
            # Raises IndexError if list is empty or index is out of range.

'l'

In [149]:
sal

[1000.5, 2000.2, 4, 3000.3, 4, 'B', 'i', 'l', 'a']

In [150]:
sal.pop(6)

'i'

In [16]:
sal

[10,
 1000.5,
 2000.2,
 3000.3,
 4,
 4000.4,
 5000.4,
 ['Shanti', 'Rizwan', 'Ben'],
 ['Shanti', 'Rizwan', 'Ben']]

In [144]:
sal.pop(sal[5]) #--> # sal.pop(10)--> 'i'

'i'

In [106]:
sal.pop(sal.pop(sal[4]))

IndexError: pop index out of range

In [102]:
sal[4]

4

### 4.1.10 Practice with remove

In [22]:
sal.remove(4)   # L.remove(value) -> None -- remove first occurrence of value.
              #  Raises ValueError if the value is not present.

In [100]:
sal.insert(0,4)

In [101]:
sal

[4, 10, 4, 4, 4, 1200.25, 3, 4, 10]

In [114]:
sal

[4, 4, 1000.5, 2000.2, 3000.3]

In [115]:
sal.pop(1) ## how to remove 2nd occurene of 4. use pop we can't use remove function

4

In [35]:
sal

[4,
 4,
 10,
 4,
 1000.5,
 2000.2,
 3000.3,
 5000.4,
 ['Shanti', 'Rizwan', 'Ben'],
 ['Shanti', 'Rizwan', 'Ben']]

In [88]:
sal[3]

3000.3

### 4.1.11 Practice with reverse

In [152]:
sal.reverse() # L.reverse() -- reverse *IN PLACE*

In [32]:
help(sal.reverse)

Help on built-in function reverse:

reverse(...) method of builtins.list instance
    L.reverse() -- reverse *IN PLACE*

In [151]:
sal = [3, 2, 5, 4]

In [153]:
sal

[4, 5, 2, 3]

### 4.1.12 Practice with sort

In [154]:
sal.sort(key = None, reverse = True) # L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [155]:
sal

[5, 4, 3, 2]

In [156]:
sal.sort(key = int, reverse = False)

In [157]:
sal

[2, 3, 4, 5]

In [158]:
sal_bool = [False,True,False,True]

In [159]:
sal_bool.sort(key = bool , reverse = True)

In [160]:
sal_bool

[True, True, False, False]

### 4.1.13 Practice with len()

In [161]:
len(sal) # works same like count()

4

## 4.2. Remove item from the list

In [150]:
del(sal[2]) # we can use pop also to remove any element by giving its index location.  
            # This differs from the pop() method which returns a value. 
            # The del statement can also be used to remove slices from a list or clear the entire list
            # (which we did earlier by assignment of an empty list to the slice). For example:

In [163]:
sal = [4, 4, 4, 1000.5, 3, 3, 4]

In [164]:
del sal[2:6:2]

In [165]:
sal

[4, 4, 1000.5, 3, 4]

In [66]:
del sal[3]

In [77]:
sal

[4, 4, 1000.5, 3, 4]

In [69]:
sal

[4, 4, 4]

In [70]:
del sal[:] # removing all the elements

In [71]:
sal

[]

## 4.3. Update items of the list

In [78]:
sal[2] = 1200.25

In [79]:
sal.

[4, 4, 1200.25, 3, 4]

> List is supporting item assignment ,so list is **mutable**

> **Home Work:** Explore all methods of list

> [Refer 1 of 2](https://docs.python.org/3/tutorial/introduction.html#lists)

> [refer 2 of 2](https://docs.python.org/3/tutorial/datastructures.html)

## 4.4. Preparing nested lists from 2 lists.

In [117]:
letter = ['a','b','c']

In [118]:
number = [1,2,3,4]

In [119]:
x = [letter, number]

In [121]:
x[0][1]

'b'

# 5. Memory Allocation

In [123]:
a_list = [10,20,30]

In [124]:
b_list = a_list # b_list will use a_list memory location # b_list will act as a shortcut to a_list

In [125]:
a_list

[10, 20, 30]

In [126]:
b_list

[10, 20, 30]

In [127]:
a_list[0]=40

In [128]:
a_list

[40, 20, 30]

> what are the items available in b_list

In [129]:
b_list

[40, 20, 30]

In [87]:
a_list = [10,20,30]

In [88]:
b_list =list(a_list)

In [89]:
a_list

[10, 20, 30]

In [90]:
b_list

[10, 20, 30]

In [91]:
a_list[2]=50

In [0]:
a_list

[10, 20, 50]

> what are the items of b_list ??

In [92]:
b_list

[10, 20, 30]